* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.modal {
}

.modal--hidden {
  display: none;
}

.modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal__window {
  position: relative;
  display: flex;
  min-width: 500px;
  min-height: 300px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.modal__close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('https://image.flaticon.com/icons/svg/32/32178.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding: 8px;
  margin: 0;
  outline: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.modal__close:hover {
  background-color: #e4e4e4;
}
