* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 16px 0;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
