* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  max-width: 1170px;
  min-width: 320px;
  padding: 16px;
}

.note {
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.note__content {
  margin-bottom: 32px;
}

.note__text {
  margin-bottom: 24px;
  line-height: 1.5;
}

.note__actions {
  display: flex;
  justify-content: flex-end;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  min-width: 88px;
  min-height: 36px;
  margin: 0 4px;
  padding: 8px 16px;
  outline: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, 0.08);
}
