* {
  box-sizing: border-box;
}

html {
  font-size: 130%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  padding: 16px 0;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.form input {
  margin-bottom: 32px;
  padding: 8px;
}

.button {
  position: relative;
  border: none;
  border-radius: 3px;
  margin: 0 4px;
  padding: 0 16px;
  vertical-align: top;
  outline: none;

  font-size: 15px;
  line-height: 2.8;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  min-width: 32px;
  min-height: 36px;
  font-weight: 500;
  font-family: inherit;

  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}
