.Modal {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.Modal-input {
  width: 100%;
  border-color: #616161;
  margin-bottom: 16px;
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  border-radius: 2px;
}

.Modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
